<div class = "container">
<h2> My Categories: </h2>

<div class = "row">
  <div class = "col-md-12">
      <div class = "col-md-2"><strong>Name</strong></div>
     
    </div>
  </div>

<div class = "row">
  <div class = "col-md-12">
    <% @category.each do |category| %>
      <div class = "col-md-2"><%= category.name %></div>
      <div class = "col-md-2"><%= link_to 'Edit Title', edit_category_path(category) %> | 
      <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <br />
    <% end %>
    <hr>
    <div class = "container">
<%= link_to 'New Category', new_category_path %>
</div>
</div>
